<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <section name="cassandra" type="Elders.Cronus.Persistence.Cassandra.Config.CassandraConfiguration,Elders.Cronus.Persistence.Cassandra" />
    </configSections>

    <connectionStrings>
        <add name="cronus_es" connectionString="Contact Points=docker-local.com;Port=9042;Default Keyspace=cronus_sample_20180213" providerName="Elders.Cronus.Persistence.Cassandra" />
    </connectionStrings>

    <log4net>
        <appender name="console" type="log4net.Appender.ColoredConsoleAppender">
            <mapping>
                <level value="ERROR" />
                <foreColor value="White" />
                <backColor value="Red, HighIntensity" />
            </mapping>
            <mapping>
                <level value="WARN" />
                <foreColor value="Yellow, HighIntensity" />
            </mapping>
            <mapping>
                <level value="INFO" />
                <foreColor value="Green" />
            </mapping>
            <layout type="log4net.Layout.PatternLayout">
                <conversionPattern value="%date %newline%message%newline%newline" />
            </layout>
        </appender>

        <root>
            <!-- priority value can be set to ALL|INFO|WARN|ERROR -->
            <priority value="ERROR" />
            <appender-ref ref="console" />
        </root>
    </log4net>

    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <runtime>
        <gcServer enabled="true" />
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="LZ4" publicKeyToken="fd2bda0a70c5a705" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.3.93" newVersion="1.0.3.93" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.5.3.0" newVersion="3.5.3.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.DependencyInjection.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging.Abstractions" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.Extensions.Logging" publicKeyToken="adb9793829ddae60" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="LZ4" publicKeyToken="62e1b5ec1eec9bdd" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-1.0.15.93" newVersion="1.0.15.93" />
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral" />
                <bindingRedirect oldVersion="0.0.0.0-3.19.1.3001" newVersion="3.19.1.3001" />
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>
